bin/
obj/
.git/
.vs/
*.user
*.suo
*.mdf
*.ldf
*.log
*.pdb
*.swp
*.DS_Store
*.tar
*.tar.gz
*.zip
*.nupkg
*.code-workspace
*.sln.docstates
appsettings.json
appsettings.template.json
appsettings.Development.json
appsettings.Production.json
.env
secrets.json